<div class="beavers-ai-assistant lore-wizard standard-form">

  <p style="margin-top:0">
    <i class="fas fa-folder"></i> <strong>{{locationName}}</strong> contains both
    subfolders and journals. Which should be treated as chapters?
  </p>

  <div class="lw-two-col">
    <div class="lw-col">
      <p class="lw-col-heading">Folders ({{mixedFolders.length}})</p>
      <ul class="lw-col-list">
        {{#each mixedFolders}}
          <li><i class="fas fa-folder lw-icon-muted"></i> {{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="lw-col">
      <p class="lw-col-heading">Journals ({{mixedJournals.length}})</p>
      <ul class="lw-col-list">
        {{#each mixedJournals}}
          <li><i class="fas fa-book lw-icon-muted"></i> {{name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="lw-button-stack">
    <button type="button" data-action="useMixedFolders">
      <i class="fas fa-folder"></i> Use Folders as Chapters
    </button>
    <button type="button" data-action="useMixedJournals">
      <i class="fas fa-book"></i> Use Journals as Chapters
    </button>
    <button type="button" data-action="useMixedBoth">
      <i class="fas fa-layer-group"></i> Use Both as Chapters
    </button>
  </div>

  <div class="lw-nav lw-nav--start">
    <button type="button" data-action="backToLocation">
      <i class="fas fa-arrow-left"></i> Back
    </button>
  </div>

</div>